# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
*.log
.vite/

# TypeScript
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/settings.json
.idea/

# Sistema
.DS_Store
Thumbs.db